<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="search-container">
                @if (!canShowSearchAsOverlay) {
                <div class="normal-search">
                    <input type="search" class="search" placeholder="Search...">
                    <i class="far fa-search search-icon"></i>
                </div>
                } @else {
                <div>
                    <button [cdkMenuTriggerFor]="searchOverlay" class="search-menu-btn ripple">
                        <i class="far fa-search search-icon"></i>
                    </button>
                </div>
                }

            </div>
        </div>
        <div class="head-content-right">
            <div class="head-menu">
                <div class="head-menu-item">
                    <button [cdkMenuTriggerFor]="languageOverLay" class="head-menu-item-btn ripple">
                        <img [src]="'flags/' + selectedLanguage.flag + '.jpg'" alt="flag" class="flag">
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple">
                        <i class="far fa-expand menu-icon"></i>
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple" [cdkMenuTriggerFor]="notificationOverLay">
                        <i class="far fa-bell menu-icon"></i>
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple">
                        <i class="far fa-comment-alt menu-icon"></i>
                    </button>
                </div>
            </div>
            <div class="head-user-avatar-container">
                <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverLay">
                    <img src="user3.jpg" alt="user" class="user-avatar">
                    <div class="circle-indicator pulse"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #searchOverlay>
    <div class="overlay overlay-search overlay-fall" cdkMenu>
        <input type="search" name="" id="" class="search" placeholder="Search...">
        <button class="search-btn">
            <i class="far fa-search search-icon"></i>
        </button>
    </div>
</ng-template>

<ng-template #languageOverLay>
    <div class="overlay overlay-language overlay-fall" cdkMenu>
        <ul>
            @for (item of languages; track $index) {
            <li>
                <img [src]="'flags/' + item.flag + '.jpg'" alt="flag">
                <span>{{item.language}}</span>
            </li>
            }
        </ul>
    </div>
</ng-template>

<ng-template #notificationOverLay>
    <div class="overlay overlay-notification overlay-fall" cdkMenu>
        <ul>
            <li class="notification-head-container">
                <div class="notification-head">Notificacion</div>
                <span class="view-all-link">
                    <a>View All</a>
                </span>
            </li>
            @for (item of notifications; track $index) {
            <li class="notification-message-container" cdkMenuItem>
                <i [class]="item.icon"></i>
                <div class="">
                    <div class="notification-subject">
                        {{item.subject}}
                    </div>
                    <p class="notification-desc">
                        {{item.description}}
                    </p>
                </div>
            </li>
            }
        </ul>
    </div>
</ng-template>


<ng-template #userOverLay>
    <div class="overlay overlay-user overlay-fall" cdkMenu>
        <ul>
            <li *ngFor="let item of useritems" cdkMenuItem>
                <a>
                    <i class="icon" [ngClass]="item.icon"></i>
                    <span>{{item.label}}</span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>